<tr class="{CSS_ROW} {ADDITIONAL_CSS} xvmp_table_row" id="xvmp_row_{VAL_MID}">
	<td class="std small">
		<a onclick="VimpContent.playVideo({VAL_MID});">
			<div class="xvmp_image_container">
				<img width="170px" height="95px" class="xvmp_preview_image" src="{VAL_THUMBNAIL}">
			</div>
		</a>
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_DESCRIPTION}
	</td>
	<td class="std small">
		{VAL_USERNAME}
	</td>
	<td class="std small">
		{VAL_COPYRIGHT}
	</td>
	<td class="std small">
		{VAL_CREATED_AT}
	</td>
	<td class="std small">
		{VAL_ACTIONS}
	</td>
</tr>